header {
  height: 80px;
  background-color: rgba(8, 5, 53, 0.438);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header .header-info {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-info h1 {
  font-size: 35px;
  text-transform: uppercase;
  opacity: 0.8;
}

header .header-info h1:hover {
  cursor: pointer;
  opacity: 1;
  transition: all 500ms;
}

header .header-info .vote-btn {
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: cornflowerblue;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 15px;
}

header .header-info .vote-btn:hover {
  background-color: rgb(74, 124, 218);
  transition: all 500ms;
  cursor: pointer;
}

.cards-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.cards-wrapper .card.best-card {
  width: calc(25% - 20px);
}

.cards-wrapper .card {
  width: calc(20% - 20px);
  aspect-ratio: 9/16;
  border-radius: 15px;
  text-align: center;
  padding: 25px 15px;
  color: white;
  background-color: rgba(8, 5, 53, 0.438);
  position: relative;
}

.cards-wrapper .card:hover {
  background-color: rgba(35, 30, 105, 0.541);
  transform: translateY(-5px);
  transition: all 500ms;
}

.cards-wrapper .card h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.cards-wrapper .card h4 {
  font-size: 20px;
  color: cornflowerblue;
  margin-bottom: 30px;
}

.cards-wrapper .card .info {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.cards-wrapper .card .info span {
  display: block;
  margin-bottom: 30px;
}

.cards-wrapper .card .info .fa-star {
  color: rgb(255, 208, 0);
  margin: 0px 1px;
  font-size: 14px;
}

.cards-wrapper .card:hover {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

